html {
	position: relative;
	height: 100%;
}

.airbnb-logo {
	width: 46px;
}

body {
	font-size: 12px;
	font-family: 'Abel', sans-serif;
}

.hidden {
	display: none;
}

h1 {
	font-size: 24px;
	font-weight: bold;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

p {
	line-height: 16px;
}

