#background {
    background-image: url("https://wallpaperaccess.com/full/1113471.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.aside-1 {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: black;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #F7F7F7; 
    text-align: center;
}

.aside-2 {
    white-space: normal;
    text-decoration: underline;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}
