.login-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-header {
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.login-input input:focus {
  border-color: red;
}

.login-label {
  color: #999999;
  transition: all 0.2s ease-out;
  z-index: 5000;
  margin-left: 13px;
  margin-top: 10px;
}

.login-input {
  border: 1px solid #dddddd;
  padding: 15px 10px 0px 10px;
  border: 1px solid #dddddd;
  position: relative;
  width: 430px;
  height: 25px;
  color: #383838;
  background-color: transparent;
}

.login-form-box {
  outline: 1px solid black;
  padding: 20px;
}

.session-submit {
  margin: 16px 0;
  cursor: pointer;
  border: 0;
  padding: 0 0 3px 0;
  background: #5085c2;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  outline: none;
}

.session-submit:hover {
  background-color: rgb(27, 73, 129);
  border-color: rgb(27, 73, 129);
}

#header-img.login-dropdown,
.header-name {
  cursor: pointer;
  width: 45px;
  position: relative;
  margin-right: 45px;
}

.login-signup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 150px;
  padding: 7px 0;
  position: absolute;
  color: black;
  font-weight: normal;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 13.3333px;
  text-align: left;
  right: 40px;
  top: 110px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-dropdown:hover > .login-signup {
  display: block;
}

.login-signup > button {
  padding: 10px;
}

.login-signup > button:hover {
  display: inline;
  background-color: lightgray;
}

i.fas.fa-address-card {
  font-size: xx-large;
}

i.far.fa-address-card {
  font-size: xx-large;
}

.logout-button {
  // display: none;
  position: absolute;
  background-color: white;
  border-radius: 150px;
  padding: 10px;
  position: absolute;
  color: black;
  font-weight: normal;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-size: 13.3333px;
  text-align: left;
  right: 38px;
  top: 105px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-name:hover > .logout-button {
  display: block;
}

.logout-button:hover {
  background-color: lightgray;
}
