.google-map {
  width: 460px;
  height: 750px;
  right: 0;
  margin-right: -50px;
  // position: fixed;
  // overflow: hidden; //
}

.show-google-map {
  width: 80%;
  height: 450px;
}

// html,
// body {
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
// }
