.spot-name {
  font-size: 15px;
}
.spot-name:hover {
  cursor: pointer;
  background-color: beige;
}

.spot-info {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: lighter;
  color: grey;
}
